# Azure
/azure-functions/**
!/azure-functions/host.json

# Cloudflare
/server
functions/**/*.js

# Deno
.deno

# Express
.express

# Netlify
.netlify

# Static
.static

# Vercel
.vercel

# Build
/dist
/lib
/lib-types

# Development
node_modules

# Cache
.cache
.mf
.rollup.cache
tsconfig.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Yarn
.yarn/*
!.yarn/releases
.vercel
